    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
    body { margin: 0; }
    h2 { color: gray;font-weight: 200;text-align: center;}
    p {font-size: 15px;line-height: 1.8;color:gray}
    nav {
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 3;
    }
    nav a {
      display: block;
      float: left;
      padding: 12px 16px;
      text-decoration: none;
      color: gray;
      font-size: 15px;
    }
    nav a:hover, .btn-hvr:hover {
      background-color: gainsboro!important;
      color: black!important;
    }
    nav a:hover:last-child {
      background-color: red;
      color: white;
    }
    .img1, .img2, .img3 {
      background-position: center;
      background-repeat:no-repeat;
      background-size: cover;
      opacity: 0.75;
      min-height: 400px;
    }
    .img1 {
      background-image: url("https://www.w3schools.com/w3images/parallax1.jpg");
      margin-top: -19px;
    }
    .img2 {
      background-image: url("https://www.w3schools.com/w3images/parallax2.jpg");
    }
    .img3 {
      background-image: url("https://www.w3schools.com/w3images/parallax3.jpg");
    }
    
    .display-mid {
      position: relative;
      color: white;
      letter-spacing: 6px;
      font-family: inherit;
      font-weight: 200;
    }
    .display-mid h3 {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 200;
      margin-top: 200px;
      font-size: 25px;
      letter-spacing:10px;
      white-space: nowrap;
    }

    main {
      padding-top: 60px;
      padding-bottom: 50px;
      max-width: 950px;
      margin: auto;
    }
    main img {
      margin-top: 10px;
      width: 90%;
    }

    .main-content {
      display: block;
      width: 49%;
      float: left;
    }
    .main-content2 {
      display: block;
      width: 49%;
      float: left;
    }
    .block {
      min-width: 550px;
      margin: 0 15px;
    }
    .row {
      clear: both;
      display: table;
      content: "";
    }
    .part-div {
      display: flex;
      background-color: rgb(87, 87, 87);
      padding: 30px 0;
    }
    .part {
      display: block;
      width: 25%;
      text-align: center;
      color: white!important;
    }
    section {
      text-align: center;
      padding-top: 70px;
      padding-bottom: 70px;
      max-width: 900px;
      margin: auto;
    }
    .section-container {
        padding-top: 30px;
        margin: auto;
    }
    .section-content {
      display: flex;
      width: 24%;
      gap:15px;
      padding-bottom: 15px;
      text-align: center;
    }
    .display-layout {
      background-color: black;
      position:fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 1;
      display: none;
    }
    .display-size {
      padding-top: 160px;
      padding-bottom: 65px;
      width: 50%;
      margin: auto;
      animation: animatezoom 0.9s;
    }
    .caption {font-size: 18px;font-weight: 600;margin-top: 10px;color:rgb(143, 143, 143)}
    .imgzoom {
      width: 55%;
      margin: auto;
    }
    .btn-remove {display: block;float:right;color:white;padding:15px;font-size:20px}
    .btn-remove:hover {background-color: gainsboro;color:black;}
    .section-content img:hover {opacity: 0.6;cursor: pointer;}

    .contact-flex {
      display: flex;
      padding-top:40px;
      min-width: 510px;
    }
    .col {
      display: block;
      float: left;
    }

    .input-div {
      display: flex;
      gap:15px;
      margin-right:-13px;
      padding-bottom:10px;
    }

    footer {
      text-align: center;
      background-color: black;
      color: white;
      opacity: 0.6;
      padding-top: 70px;
      padding-bottom: 60px;
    }
    footer:hover {
      opacity: 1;
    }
    .icons:hover {
      color: gray;
    }
    .bar { float: right;}
    .bar:hover { background-color: black!important;color:white!important;}
    .sidebar {
      position: fixed;
      top: 5.8%;
      left: 0;
      width: 100%;
      z-index: 2;
      overflow: hidden;
      background-color: white;
      display: none;
    }
    .sidebar a {
      display: block;
      text-decoration: none;
      padding: 13px 15px;
      color: black;
    }
    .popnav {
      background-color: "white";
      color: black;
      box-shadow: rgba(1px, 1px, 10px, 0.9);
    }

    .scrolled {
      background-color: white;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
      animation: animatetop 0.5s;
    }
    .scrolled a {
      color: black;
    }

    @keyframes animatetop {
      from {top :-30%}
      to {top : 0%}
    }

    @keyframes animatezoom {
      from {transform: scale(0);}
      to {transform: scale(1);}
    }

    @media (min-width:600px) {
      .hide-big {
        display: none;
      }
    }

    @media (max-width:600px) {
      .hide-small {
        display: none;
      }
      .contact-flex {
        display: block!important; padding-bottom: 600px; margin: auto;
      }
      .contact-flex img {
        width: 100%; margin-bottom: 15px;  
      }
      .col {
        display: block!important; margin: auto!important; width: 100%!important;
      }
      .input-div {
        display: block!important; width: 100%!important; margin: auto!important;
      }
      input {
        width: 95%!important;
      }
      .col img {
        width: 90%!important;
      }
      .snd-btn {
        margin-right: 18px!important;
      }
      .block {
        display: block; max-width: 550px; margin-left: 15px;
      }
      .main-content {
        display: block!important; width: 100%!important;
      }
      main img {
        width: 92%!important; margin-left: 10px!important;
      }

      .main-content2 {
        display: none!important;
      }
      .part-div{
        display: block!important;
      }
      .part {
        padding: 20px 0!important; width: 100%!important;
      }
      .section-content {
        display: block!important; width: 100%!important;
      }

      .display-size {
        height: auto!important; width: 100%!important;
      }
      .imgzoom {
        width: 70%!important; height: auto!important; margin: auto;
      }
    }